# Virtual environment
venv/
.env
*.env

# Django stuff
*.log
local_settings.py
db.sqlite3

# Static files
staticfiles/
static/

# Media files 
media/

# VS Code
.vscode/

# Windows system files
Thumbs.db

# migrations
accounts/migrations
products/migrations

# pycache 
__pycache__/
*.pyc
*.pyo
*.pyd